<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Panel Médico</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<body>

<div class="sidebar">

    <div>

        <h2 class="logo">
            🏥 SmartMedi
        </h2>

        <ul>

            <li>
                <a href="/dashboard">
                    📊 Dashboard
                </a>
            </li>

            <li>
                <a href="/registrar">
                    👨‍⚕️ Registrar Paciente
                </a>
            </li>

            <li>
                <a href="/consultar">
                    📋 Consultar Pacientes
                </a>
            </li>

            <li>
                <a href="/tratamiento">
                    💊 Tratamientos
                </a>
            </li>

            <li>
                <a href="/receta">
                    🧾 Generar Receta
                </a>
            </li>

        </ul>

    </div>

</div>

<div class="main-content">

    <div class="topbar">

        <div>

            <h1>
                Panel del Médico
            </h1>

            <p>
                Sistema Inteligente de Medicamentos
            </p>

        </div>

    </div>

    <div class="cards">

        <div class="card">

            <h3>Total Pacientes</h3>

            <h2>
                {{ total_pacientes }}
            </h2>

        </div>

        <div class="card green">

            <h3>Tratamientos</h3>

            <h2>
                {{ tratamientos }}
            </h2>

        </div>

        <div class="card dark">

            <h3>Recordatorios</h3>

            <h2>
                {{ recordatorios }}
            </h2>

        </div>

    </div>

    <div class="welcome-box">

        <h2>
            Bienvenido Doctor 👨‍⚕️
        </h2>

        <p>

            Desde este panel podrá administrar pacientes,
            tratamientos médicos, recetas y recordatorios
            inteligentes de medicamentos.

        </p>

    </div>

</div>

</body>
</html>