<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SmartMediIoT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    <h1>🏥 SmartMediIoT</h1>

    <div class="menu">
        <a href="/dashboard">Panel Médico</a>
    </div>
</div>

<div class="container">

    <div class="card">
        <h2>Sistema Inteligente Médico</h2>

        <p>
            Plataforma para monitoreo y control de tratamientos médicos.
        </p>

        <a href="/dashboard" class="btn">
            Ingresar al Panel Médico
        </a>
    </div>

</div>

</body>
</html>