<ion-content [fullscreen]="true" class="login-bg">
  <div class="login-container">
    
    <div class="logo-area">
      <div class="iot-pulse">💊</div>
      <h1>SmartMediIoT</h1>
      <p>Pastillero Inteligente & Monitoreo Médico</p>
    </div>

    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Portal del Paciente</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="iniciarSesion()">
          
          <div class="input-wrapper">
            <label>👤 Nombre de Usuario</label>
            <input type="text" [(ngModel)]="usuario" name="usuario" placeholder="Ej. david123" class="mobile-input">
          </div>

          <div class="input-wrapper">
            <label>🔐 Contraseña del Dispositivo</label>
            <input type="password" [(ngModel)]="password" name="password" placeholder="••••••••" class="mobile-input">
          </div>

          <ion-button type="submit" expand="block" class="btn-login" color="success">
            Conectar con mi Pastillero
          </ion-button>

        </form>
      </ion-card-content>
    </ion-card>

    <div class="footer-note">
      <p>Si no recuerda sus credenciales de acceso IoT, solicítelas en la ventanilla de farmacia de la clínica.</p>
    </div>

  </div>

  <ion-loading [isOpen]="cargando" message="Sincronizando con la red médica..."></ion-loading>
</ion-content>